<%- include("partials/header.ejs") %>


<!-- Main section (queries on left, results/visualizations on right) -->
<section class="main mt-4">
  <div class="container">
    <div class="row">

      <!-- left side with selection of features and statistics-->
      <div class="left-side col-4">
        <!-- Selection of features -->
        <form action="/submit" method="post">
          <div class="row">
            <div class="queries col-md-6 py-4">
              <!-- dropdown select features -->
              <label for="feature-1-select">Select the first feature:</label><br>
              <select class="mt-2" name="lang-feature-1" id="feature-1-select">
                <option value="">--Please pick an option--</option>
                <option value="tonal">tonal</option>
                <option value="morphology">morphology</option>
                <option value="word-order">word order</option>
              </select>
            </div>
            <div class="queries col-md-6 py-4">
              <!-- dropdown select features -->
              <label for="feature-2-select">Select the second feature:</label><br>
              <select class="mt-2" name="lang-feature-2" id="feature-2-select">
                <option value="">--Please pick an option--</option>
                <option value="tonal">tonal</option>
                <option value="morphology">morphology</option>
                <option value="word-order">word order</option>
              </select>
            </div>
          </div>

          <div class="row correlate-btn">
            <input type="submit" value="Show correlation"></input>
          </div>
        </form>
        <!-- statistics displayed -->
        <div class="row statistics-text p-5">
          <h3>Summary statistics</h3>
          <ul>
            <li>Feature 1 is found in 20% of languages</li>
            <li>Correlation with Feature 2: 0.43</li>
            <li>p-value < 0.05</li>
          </ul>
          <% if (locals.message) { %>
            <p><%= message %></p>
          <% } %>
        </div>
      </div>

      <!-- Right side with maps and graphs -->
      <div class="right-side col-8 py-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#map" type="button"
              role="tab" aria-controls="map" aria-selected="true">Map</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#statistics-graphs"
              type="button" role="tab" aria-controls="statistics-graphs" aria-selected="false">Statistics</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#top-correlations"
              type="button" role="tab" aria-controls="top-correlations" aria-selected="false">top
              correlations</button>
          </li>
        </ul>
        <div class="tab-content" id="map">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

          </div>
          <div class="tab-pane fade" id="statistics-graphs" role="tabpanel" aria-labelledby="profile-tab">
            some fancy graphs
          </div>
          <div class="tab-pane fade" id="top-correlations" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row p-4">
              <div class="col-md-6">
                <h4>Feature 1 top correlations</h4>
                <ol>
                  <li>correlated feature</li>
                  <li>correlated feature</li>
                  <li>correlated feature</li>
                  <li>correlated feature</li>
                  <li>correlated feature</li>
                </ol>
              </div>
              <div class="col-md-6">
                <h4>Feature 2 top correlations</h4>
                <ol>
                  <li>correlated feature</li>
                  <li>correlated feature</li>
                  <li>correlated feature</li>
                  <li>correlated feature</li>
                  <li>correlated feature</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>


<%- include("partials/footer.ejs") %>